<template>
  <div id="<%= data.name %>">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
  export default {
    name: "<%= data.name %>",
    props: {
      msg: String,
    },
    components: {},
    mixins: [],
    data() {
      return {
        message: "<%= data.name %>",
      };
    },
    created() { },
    mounted() { },
    computed: {},
    methods: {},
  };
</script>

<style scoped>
  #<%=data.name %> {}
</style>